
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body{
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Pen Script';
  min-height: 100vh;
  margin:  0px;
}

@media(min-width:650px){ /* 650보다 화면이 넓을때 640으로 고정*/
  .App{
    width: 640px;
  }
  .DiaryItem .info_wrapper{
    padding-left: 20px;
  }
  .DiaryItem .info_wrapper .dirary_date{
    font-size: 25px;
    min-width: 95px;
  }
  .DiaryItem .info_wrapper .diary_content_preview{
    font-size: 20px;
    padding-left: 10px;
  }
  .DiaryItem .TodoSuccess_wrapper h4{
    font-size: 20px;
    min-width: 95px;
  }
  .DiaryItem .TodoSuccess_wrapper .TodoPercent{
    font-size: 20px;
    padding-left: 10px;
  }
  .DiaryItem .emotion_wrapper{
    min-width: 120px;
  }
}
@media(max-width : 650px){/* 650보다 화면이 작을때 90vw로 고정*/
  .App{
    width: 90vw;
  }
  .DiaryItem .info_wrapper{
    padding-left: 10px;
  }
  .DiaryItem .info_wrapper .dirary_date{
    font-size: 18px;
    min-width: 85px;
  }
  .DiaryItem .info_wrapper .diary_content_preview{
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .DiaryItem .TodoSuccess_wrapper h4{
    font-size: 14px;
    min-width: 85px;
  }
  .DiaryItem .TodoSuccess_wrapper .TodoPercent{
    font-size: 18px;
    padding-left: 5px;
  }
  .DiaryItem .emotion_wrapper{
    width: 70px;
  }
}

#root{
  background-color: white;
  box-shadow: rgba(100,100,111,0.2) 0px,7px 29px 0px;
}

.App{
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

header{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid lightcoral;
}

header .head_text{
  width: 50%;
  font-size: 25px;
  justify-content: center;
  color: lightcoral;
  text-align: center;
}
header > div{
  display: flex;
}

header .head_btn_left{
  width: 25%;
  justify-content: start;
}
header .head_btn_right{
  width: 25%;
  justify-content: end;
}

.button{
  cursor: pointer;  
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;
  font-family: 'Nanum Pen Script';
}

.button_basic{
  background-color: lightcoral;
  color: white;
}

.button_positive{
  background-color: rgb(112, 223, 112);
  color: white;
}

.button_negative{
  background-color: rgb(233, 42, 42);
  color:  white;
}


.DiaryList .menu_wrapper{
  width: 100%;
  margin-top: 20px;
  margin-right: 10px;
  padding-bottom: 25px;
  justify-content: space-between;
  display: flex;
}

.DiaryList .right_Button{
  flex-grow:  1; 
}

.DiaryList .menu_wrapper .right_Button Button{
  width: 100%;
  justify-content: end;
}

.DiaryList .select_box{
  border: none;
  border-radius: 5px;

  background-color: rgb(252, 205, 212);
  padding-left: 20px;
  margin-right: 10px;
  width: 140px;
  height: 40px;

  font-family: 'Nanum Pen Script';
  font-size: 20px;
}

.DiaryItem{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(239, 160, 160, 0.584);
}

.DiaryItem .emotion_wrapper{
  cursor: pointer;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.DiaryItem .emotion_wrapper img{
  min-width:70%;
}
.DiaryItem .emotion_img_wrapper_1{
  background-color: #fd565f;
}
.DiaryItem .emotion_img_wrapper_2{
  background-color: #fd8446;
}
.DiaryItem .emotion_img_wrapper_3{
  background-color: #fdce17;
}
.DiaryItem .emotion_img_wrapper_4{
  background-color: #9dd772;
}
.DiaryItem .emotion_img_wrapper_5{
  background-color: #64c964;
}
.DiaryItem .info_wrapper{
  flex-grow: 1;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.DiaryItem .dirary_date_wrapper{
  display: flex;
  flex-direction: row;
  height: 40px;
}

.DiaryItem .info_wrapper .dirary_date{
  height: 40px;
  padding-top: 7px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.DiaryItem .info_wrapper .diary_content_preview{
  flex-grow: 1;
  height: 40px;
  padding-top:10px;
  align-items: baseline;
}

.DiaryItem .info_wrapper .btn_wrapper{
  min-width: 70px;
}

.DiaryItem .TodoSuccess_wrapper{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.DiaryItem .TodoSuccess_wrapper .TodoPercent{
  flex-grow: 1;
  padding-top: 20px;
  height: 40px;
}
.DiaryItem .TodoSuccess_wrapper h4{
  text-align: center;
  margin: 0px;
}

.New h4{
  font-size: 23px;
  color: rgb(227, 104, 104)
}

.DiaryEditor section{
  margin-bottom: 40px;
}

.DiaryEditor .new_Emotion_wrapper{
  display: grid;
  grid-template-columns: repeat(5,auto);
  gap:2%;
}

.DiaryEditor .input_date{
  width: 25%;
  height: 35px;
  padding-left: 25px;
  padding-right: 20px;
  background-color: rgba(240, 128, 128, 0.877);
  border: none;
  border-radius: 5px;
  font-size: 23px;
  font-family: 'Nanum Pen Script';
}
.DiaryEditor h4{
  margin-top: 15px;
  margin-bottom: 15px;
}

.DiaryEditor .pulsBtn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DiaryEditor img{
  width: 7%;
}
.DiaryEditor .textarea_wrapper{
  width: 100%;
  display: flex;
}
.DiaryEditor textarea{
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: 2px solid lightcoral;
  border-radius: 5px;
  background-color: rgb(255, 234, 234);

  padding-top: 10px;
  padding-left: 10px;

  font-size: 18px;
  font-family: 'Yeon Sung';
}

.DiaryEditor .btn_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EmotionItem{
  cursor: pointer;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img{
  width: 50%;
  margin-bottom: 10px; 
}

.EmotionItem span{
  font-size: 18px;
}

.EmotionItem_off{
  border: 2px solid lightcoral;
  border-radius: 5px;
  background-color: #ececec;
}

.EmotionItem_on_1{
  background-color: #fd565f;
}
.EmotionItem_on_2{
  background-color: #fd8446;
}
.EmotionItem_on_3{
  background-color: #fdce17;
}
.EmotionItem_on_4{
  background-color: #9dd772;
}
.EmotionItem_on_5{
  background-color: #64c964;
}

.TodoList{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.TodoList .Todo_check_img{
  width: 4%;
  padding-right: 10px;
}

.TodoList img{
  width: 100%;
}
.TodoList .Todo_Text{
  display: flex;
  flex-grow: 1;
}
.TodoList input{
  width: 100%;
  height: 25px;
  border: 2px solid lightcoral;
  background-color: rgb(255, 234, 234);
  border-radius: 5px;
  padding-left: 10px;
  font-family: 'Yeon Sung';
  font-size: 18px;
}

.Detail section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Detail h4{
 font-size: 22px;
 font-weight: 700;
}

.Detail .diary_img_wrapper{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Detail .diary_img_wrapper_5{
  background-color: #64c964;
}
.Detail .diary_img_wrapper_4{
  background-color: #9dd772;
}
.Detail .diary_img_wrapper_3{
  background-color: #fdce17;
}
.Detail .diary_img_wrapper_2{
  background-color: #fd8446;
}
.Detail .diary_img_wrapper_1{
  background-color: #fd565f;
}
.Detail .emotion_desc{
  margin-top: 30px;
  font-size: 25px;
  font-weight: 100;
  color: white;
}
.Detail .Detail_todolist{
  width: 100%;
}
.Detail .Detail_content{
  width: 100%;
  margin-bottom: 40px;
  min-height: 200px;
  border-radius: 5px;
  border: 2px solid lightcoral;
  background-color: rgb(255, 234, 234);
}

.Detail .Detail_content p{
  margin-left: 20px;
  margin-top: 20px;

  font-size: 22px;
  font-weight: 200;
  text-align: left;
}